<!DOCTYPE html>
<html>
<head><title>Profile</title></head>
<body>
    <h1>Hello <%= user.username %>, yeh aapka private dashboard hai.</h1>
    <a href="/">Go to Home</a>
    <a href="/logout">Logout</a>
</body>
</html>